# Temporary, locked, and synchronization files
*~
*.bak-mo
*.asv
*.bak
.~lock*
.fuse_hidden*

# Simulation files (just in case they're generated here)
dsin.txt
dsfinal.txt
dsu.txt
dslog.txt
dsmodel.c
dsmodel.mof
dymosim
buildlog.txt
/test/LOOCV/Case
request
status
*.exe

# Internal link to demos
/resources/source/Python/fcres/examples

# Mathematica notebooks
*.nb

# MATLAB data files
*.mat

# Excel spreadsheets
*.xls

# Compressed files
*.zip
*.tar.gz

# Selected directories
/old/
/help/
build/

# Images
*.pdf
*.png
*.gif
*.ico

# HNEI data
# (also blocked by other means, but be sure)
/resources/scripts/Dymola/ValidationData.mos
/test/LOOCV
/resources/documentation/Regions/*.pdf

# Python generated and compiled files
MANIFEST
*.pyc

# Georgia Tech files
# TODO:  Ask Chris Paredis if they can be shared, and include them.
/test/Morris

# Eclipse project files
/resources/source/Python/fcres/.project
/resources/source/Python/fcres/.pydevproject
