# From https://help.github.com/articles/dealing-with-line-endings, 9/1/12

# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.css text
*.html text
*.js text
*.md text
*.mo text
*.mos text
*.order text
*.py text
*.sh text
*.txt text
matplotlibrc text

# Denote all files that are truly binary and should not be modified.
*.gif binary
*.ico binary
*.inv binary
*.jpg binary
*.pdf binary
*.png binary
*.xls binary

# Keep the development files and work in progress on the development branch.
00-* merge=ours
.*.pws merge=ours
FCSys/Resources/Source/Python/doc/.*.pws merge=ours
FCSys/Resources/Source/Python/doc/_templates merge=ours
FCSys/Resources/Source/Python/doc/*.py merge=ours
FCSys/Resources/Source/Python/doc/Makefile merge=ours
FCSys/Resources/Source/Python/bin/killall-fcsysres.sh merge=ours
*_broken
WorkInProgress.mo merge=ours
Figures.mo merge=ours
package.order merge=ours
Install merge=ours
*qpOASES* merge=ours
MPC merge=ours
FCSys/Resources/Source/Python/README.rst merge=ours

# Files that are different between master and development:
FCSys/DOCUMENTATION.html merge=ours
FCSys/Resources/Source/Python/setup.py merge=ours
