/* Style sheet for Modelica documentation
 *
 * Based on:
 * 1. Sphinx stylesheet -- sphinxdoc theme.  Originally created by Armin
 *    Ronacher for Werkzeug.  BSD license, 2007-2011.
 * 2. Sphinx stylesheet -- basic theme,  Sphinx team, BSD license, 2007-2011.
 * 3. Modelica Buildings library, http://simulationresearch.lbl.gov/modelica,
 *    10/18/2012
 */

/* -- main layout ----------------------------------------------------------- */

div.clearer {
    clear: both;
}

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-align: center;
    background-color: #BFD1D4;
    color: black;
    padding: 0;
    border: 1px solid #aaa;
    margin: 0px 80px 0px 80px;
    min-width: 740px;
    min-height: 865px;
}

div.document {
    background-color: white;
    text-align: left;
}

div.bodywrapper {
    margin: 0 215px 0 0;
    border-right: 1px solid #ccc;
}

div.body {
    margin: 0;
    padding: 0.5em 20px 20px 20px;
}

/* -- sidebar -------------------------------------------------------------- */

div.sidebarwrapper {
    padding: 10px 5px 0 10px;
}

div.sidebar {
    margin: 0;
    padding: 0 15px 15px 0;
    width: 190px;
    float: right;
    font-size: 0.9em;
    text-align: left;
    margin-left: -100%;
}

div.sidebar h3, div.sidebar h4 {
    margin: 1em 0 0.5em 0;
    font-size: 1em;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border: 1px solid #86989B;
    background-color: #AFC1C4;
}

div.sidebar h3 a {
    color: white;
}

div.sidebar ul {
    padding-left: 1.5em;
    margin-top: 7px;
    padding: 0;
    line-height: 130%;
    list-style: none;
}

div.sidebar ul ul {
    margin-left: 20px;
}

p.logo {
    text-align: center;
}

p.sidebar-title {
    font-weight: bold;
	text-align: center;
//    margin: 0;
//    padding: 0.7em 0 0.3em 0;
    font-size: 2em;
    color: #000000;
//    color: #11557C;
    text-decoration: none;
}

/* -- body styles ----------------------------------------------------------- */

div.body {
    min-height:555px; // Be sure there's room for the sidebar.
}

div.body p.caption {
    text-align: inherit;
}

div.body td {
    text-align: left;
}

img {
    border: 0;
}

p {
    margin: 0.8em 0 0.5em 0;
}

a {
    color: #CA7900;
    text-decoration: none;
}

a:hover {
    color: #2491CF;
}

a.bookmark, div.body a.bookmark {
    color: black;
    text-decoration: none;
}

div.headerStyle {
    background-color: white;
    text-align: left;
    padding: 10px 10px 15px 15px;
}

div.body a {
    text-decoration: underline;
}

img.align-left, .figure.align-left {
    clear: left;
    float: left;
    margin-right: 1em;
}

img.align-right, .figure.align-right {
    clear: right;
    float: right;
    margin-left: 1em;
}

img.align-center, .figure.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    margin: 0;
    padding: 0.7em 0 0.3em 0;
    font-size: 1.5em;
    color: #11557C;
}

h2 {
    margin: 1.3em 0 0.2em 0;
    font-size: 1.35em;
    padding: 0;
}

.align-left {
    text-align: left;
}

.align-center {
    clear: both;
    text-align: center;
}

.align-right {
    text-align: right;
}

h3 {
    margin: 1em 0 -0.3em 0;
    font-size: 1.2em;
}

div.body h1 a, div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
    color: black!important;
}

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa!important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
    color: #777;
    background-color: #eee;
}

sub, sup {font-size:x-small}

hr {
    height: 1.15pt;
    background-color: #022e4d;
    border: 0;
}

dd {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

a tt {
    border: 0;
    color: #CA7900;
}

a tt:hover {
    color: #2491CF;
}

a, img {
    /* Restrict image size to width of text.
     Otherwise, very large image overlap the screen
    */
    max-width: 620px;
}

div.footer {
    background-color: #E3EFF1;
    color: #86989B;
    padding: 3px 8px 3px 0;
    clear: both;
    font-size: 0.8em;
    text-align: right;
}

div.footer a {
    color: #86989B;
    text-decoration: underline;
}

/* -- code displays --------------------------------------------------------- */

h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt {
    background-color: transparent;
}

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

tt {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    color: #333;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    white-space: pre;
    /* begin css 3 or browser specific rules - do not remove!
    see: http://forums.techguy.org/archive/index.php/t-249849.html */
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    /* end css 3 or browser specific rules */
}

pre a {
    color: red;
    text-decoration: none;
}

pre.comment {
    background-color: #CCCCCC;
    color: red;
    padding: 0;
    margin: 0;
    border: 0;
}

/* .comment css definition must be top of .red/.green/.blue or it won't work */
.comment {color: #555555; background-color: #DDDDFF;}

.red {background-color: #FF0000;}
.green {background-color: #CCFFCC;}
.blue {background-color: #CCCCFF;}
.yellow {background-color: #FFF29F;}
.orange {background-color: #FFD59B;}

.solid {border: 2px solid #000000; padding: 2px;}
.dashed {border: 2px dashed #000000; padding: 2px;}
.dotted {border: 2px dotted #000000; padding: 2px;}

.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
.justify {text-align: justify;}

/* -- tables --------------------------------------------------------- */

table {
    font-size: 14px;
    margin: 0.5em 0 0 0.5em;
    border-collapse: collapse;
    border: 1px solid #022e4d;
}

table.noBorder, th.noBorder, td.noBorder, tr.noBorder {
    border: none;
}

table.equation {
    /* Centered, without border */
    margin-left:auto;
    margin-right:auto;
    border: none;
  }

th, td {
    padding: 0.25em 0.5em 0.25em 0.5em;
    border: 1px solid #ADB9CC;
}

td p {
    margin: 0;
    padding: 0;
}
